/* commom css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* by default content box thake*/
  font-family: "poppins",sans-serif;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.panda-btn {
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    rgb(255, 88, 155) -0.006%,
    rgb(255, 19, 111) 99.994%
  );
  padding: 15px 35px;
  border: none;
  color: white;
  font-weight: 500;
  transition: 0.8s;
}
.panda-btn:hover {
  border-radius: 6px;
  background: linear-gradient(
    270deg,
    rgb(241, 29, 114) -0.006%,
    rgb(204, 141, 165) 99.994%
  );
  padding: 15px 35px;
  border: none;
  color: white;
  font-weight: 500;
}
/* navbar */


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
nav img {
  transition: 0.5s;
}
nav img:hover {
  animation: rotateImage 1s;
}
@keyframes rotateImage {
  0% {
    transform: rotate3d(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.search-parent {
  position: relative;
}
.search-parent input {
  border-radius: 66px;
  padding: 15px 30px;
  width: 500px;
  background-color: rgb(229, 229, 229);
  border: 0;
}
.search-parent i {
  position: absolute;
  top: 15px;
  right: 16px;
  color: #bababa;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 10px;

  font-size: 16px;
}
.nav-items li a {
  text-decoration: none;
  color: #707070;
  font-weight: 600;
  padding: 10px;
  transition: 0.5s;
}

.nav-items li a:hover {
  background-color: #feeae9;
  color: black;
  border-radius: 10px;
}
/* nav dropdown styles starts */
.nav-items {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-items li {
  position: relative;
}

.drop-down {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: white;
  list-style: none;
text-align: center;
  width: 150px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.123);
visibility: hidden;
}

.drop-down li {
  padding: 10px;
  border-bottom: 1px solid #00000033;

  cursor: pointer;
}

.nav-items li:hover .drop-down {
visibility: visible;
   top: 30px;
   transition: 0.3s;
}
.drop-down li:hover{
  background-color: pink;
}
/* nav dropdown styles ends */


/* banner design */
.banner {
  background-color: #feeae9;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  margin-top: 25px;
}

.banner img {
  width: 420px;
  height: 378px;
}

.banner h2 {
  color: rgb(31, 31, 31);
  font-size: 56px;
  font-weight: 700;
}

.banner p {
  color: rgb(78, 78, 78);
  font-weight: 400;
  max-width: 456px;
}
.banner-price {
  color: rgb(255, 19, 111);
  font-size: 52px;
  font-weight: bold;
  display: block;
}

/* catagory */
.catagories{
margin-top: 50px;
}
.catagories h2{
  font-size: 40px;
  margin:20px 0;
}
.catagories-card-container{
  display: flex;
  gap: 20px;

}
.catagory-card{

 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
 border-radius: 20px;
 flex: 1;
}
.catagory-card h3{
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.catagory-card:first-child{
 background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
}
.catagory-card:nth-child(2){

background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.catagory-card:last-child{
background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}

/* shoes and bag */
.shoe-title{
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
.shoe-title p{
  color: tomato;
  cursor: pointer;
}
.shoes-section{
  display: flex;
  justify-content: space-between;
}
.shoes-section h2{
  margin-bottom: 20px;
}
.shoe-card{
  background-color: rgb(240, 229, 229);
  width: 360px;
  text-align: center;
  padding: 15px;
  border-radius: 15px;

}
.shoe-card img{
  width: 80%;
}

.shoe-card span{
  display: block;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.shoe-card .panda-btn{
  background: black;
}


/* footer */
footer{
width: 1412px;
height: 455px;
  background-color: #FFF2F1;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  margin: 100px auto;
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  

}
footer h2{
  font-size: 30px;
  font-weight: 600;
}

footer input{
  width: 526px;
  padding: 14px 20px;
  outline:none;
  border: white;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
footer .panda-btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}